*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.7;
  font-family: sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  box-shadow: 0 0rem 0.3rem rgba(0, 0, 0, 0.3);
  color: black;
  position: sticky;
  z-index: 99;
  top: 0;
}
.light {
  background-color: rgb(0, 0, 0);
}
.change {
  background-color: hsl(209, 23%, 22%);
  color: rgb(0, 0, 0);
  box-shadow: 0 0rem 0.3rem rgba(0, 0, 0, 0.7);
}
.header__toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: 0;
}
.header__toggle--icon {
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  /* background-color: black; */
}
.icon-change {
  color: white;
  fill: white;
}
.main {
  padding: 4rem;
  padding: 4rem 14.5rem;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}
.main-change {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
.main__content {
  display: flex;
  justify-content: center;
}
.main__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__search--input {
  width: 60rem;
  height: 6rem;
  border: 0;
  font-size: 1.4rem;
  outline: none;
  border-radius: 5px;
  padding: 2rem;
  /* color: white; */
  box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.2);

  /* box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1); */
}
.main__search--input::-webkit-input-placeholder {
  color: inherit;
}
.main__search--input:focus {
  border: 0;
  outline: none;
}
.main__filter--btn {
  /* background-color: white; */
  /* color: black; */
  background-color: inherit;
  border: 0;
  padding: 2rem;
  cursor: pointer;
  font-weight: 550;
  box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.2);

  /* box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1); */
}
.main__filter--text {
  margin-right: 1rem;
}
.select {
  background-color: inherit;
  border: 0;
}
.select::-webkit-keygen-select {
  border: 0;
}
.select-item {
  border: 0;
  outline: none;
}
.main__countries {
  display: flex;
  flex-wrap: wrap;
  max-width: 180rem;
  gap: 6rem;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
}

.main__box {
  /* background-color: rgb(255, 255, 255); */
  width: 30rem;
  margin-top: 8rem;
  /* margin-right: 10rem; */
  /* padding-bottom: 4rem; */
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.4);
}
.main__box:hover {
  transform: scale(1.1);
}

.main__box--img {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main__box--country {
  margin: 2rem;
}
.main__box--list {
  display: flex;
  margin: 0 2rem;
}
.main__box--list h4 {
  margin-right: 1rem;
}
.btn--back {
  border: 0;
  background-color: inherit;
  color: inherit;
  border-radius: 3px;
  width: 13rem;
  height: 4rem;
  font-weight: 550;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-evenly;
  box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.4);
}
.back--icon {
  width: 2rem;
  height: 2rem;
}
.country {
  margin-top: 4rem;
  position: relative;
}
.country__content {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.country__content--img {
  flex-basis: 25%;
  margin-right: 13rem;
  height: 35rem;
}
.country__content--main {
  flex-basis: 50%;
}
.county__box--list {
  display: flex;
  /* margin: 0 2rem; */
}

.county__box--list p {
  margin-left: 1.5rem;
}
.country__main--sub {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.left {
  flex-basis: 50%;
}
.right {
  flex-basis: 50%;
}
.country__content--name {
  margin-bottom: 3rem;
}
.county__box--list {
  margin-bottom: 1rem;
}
.btn--border {
  border: 0;
  box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.4);
  /* padding: 1rem; */
  min-width: 13rem;
  padding: 1.2rem;
  /* text-align: center; */
  min-height: 4rem;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.6rem;

  background-color: inherit;
  margin-right: 1rem;
}
.country__main--sub2 {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.country__content--border {
  margin-right: 2rem;
}
.country__details {
  display: grid;
  margin-top: 10rem;
  grid-column-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40rem;
}
.country__weather {
  display: flex;
  align-items: center;
}
.cloud {
  width: 10rem;
  margin-left: 2rem;
}
.country__data {
  width: 100%;
  margin-top: 4rem;
  border-spacing: 10px;
}
.table-col {
  display: flex;
  align-items: center;
}

.table-col p {
  margin-left: 1rem;
}
@media only screen and (max-width: 1400px) {
  .country__main--sub {
    flex-direction: column;
  }
  .left {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 1162px) {
  .country__content {
    flex-direction: column;
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    padding: 4rem;
  }
  .country__content--img {
    /* flex-basis: 60%; */
    margin-right: 0;
    width: 80%;
  }
  .main__search {
    flex-direction: column;
  }
  .main__search--input {
    width: 80vw;
    margin-bottom: 3rem;
  }

  .country__main--sub {
    flex-direction: row;
    margin-top: 4rem;
    width: 100%;
  }
  .country__content--main {
    width: 100%;
  }
  .country__details {
    display: flex;

    flex-direction: column;

    /* justify-content: center;
    justify-items: center;

    grid-template-columns: 100vw;
    grid-template-rows: 50rem 40rem; */
  }
  .country__map {
    height: 40rem;
    margin-top: 2rem;
  }
  td {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 632px) {
  .country__content {
    width: 100%;
  }
}
